# Generic object files, libraries, etc.
*.o
*/*.o
*/*/*.o
*.a
*/*.a
*/*/*.a
*.so
*/*.so
*/*/*.so
*.dylib
*/*.dylib
*/*/*.dylib
*.lo
*/*.lo
*/*/*.lo
*.la
*/*.la
*/*/*.la
*.mod
*/*.mod
*/*/*.mod
libs/
*/.libs/
*/*/.libs/
*._*
*/*._*
**/*._*

# Specific files in QCDLoop to exclude.
qcdloop-*/build/
qcdloop-*/local/
qcdloop-*/src/qcdloop.pc
qcdloop-*/src/qcdloop/config.h

# Specific QD files to excclude.
qd-*/config.h
qd-*/config.log
qd-*/config.status
qd-*/libtool
qd-*/Makefile
qd-*/qd-config
qd-*/qd.pc
qd-*/config/Makefile
qd-*/fortran/Makefile
qd-*/fortran/second.f
qd-*/fortran/.deps/
qd-*/include/Makefile
qd-*/include/qd/qd_config.h
qd-*/include/qd/stamp-h2
qd-*/local/
qd-*/src/.deps/
qd-*/src/Makefile
qd-*/stamp-h1
qd-*/tests/.deps/
qd-*/tests/Makefile

# Specific MCFM files and directories to exclude.
makefile.bak
obj/
Bin/mcfm
Bin/mcfm_omp
Bin/oltest*
Bin/rcltest*
Bin/*.sh
Bin/*.out
Bin/nonlocal/*/*.dat
Bin/nonlocal/*/*.txt
Bin/demo/input*.ini
Bin/demo/*.dat
Bin/demo/*.out
Bin/demo/*.txt
Bin/CMakeFiles/
Bin/Makefile
Bin/TensorReduction/
Bin/cmake_install.cmake
Bin/handyG/
Bin/include/
Bin/local/
Bin/lhapdf-prefix/
Bin/lib/*
Bin/lib/*/
Bin/output.rcl
Bin/output_cll/
Bin/params.lh
Bin/qcdloop-*/
Bin/qd-*/
Bin/LHAPDF-*
Bin/VVamp
Bin/AMOS
Bin/SpecialFns
Bin/BDK
Bin/oneloop
Bin/src/

# MCFM Doc
Doc/*.aux
Doc/*.bbl
Doc/*.bcf
Doc/*.blg
Doc/*.log
Doc/*.out
Doc/*.toc
Doc/*.xml

# Specific BLHA interface files and directories.
share/
src/BLHA/process.DAT
src/BLHA/test
Bin/*.txt
Bin/*snapshot.dat
Bin/*/events.csv
